.root{
    padding: 0;
    margin: 0;
}
:global(a){
    color: #000;
    text-decoration: none;
}
.body{
    padding:10;
    
    margin:0;
}
.footerbox{
    padding: 0;
    background-color: #BEBEBE;
    height: 200px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    display: flex;
    justify-content: flex-end
}
.footertexes{
    text-align: right;
    margin-right: 60px;
    margin-top: 20px;
}
.supporttext{
    font-size: 20px;
    font-weight: bold;
}